:root {
	--primario: #FFC300;
	--secundario: #FFD60A;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #000814;
	font-family: 'Quicksand', sans-serif;

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(255, 255, 255, 0.15) 0px 48px 100px 0px;
	background: #001D3D;
	min-height: 60vh;

	display: none;
	grid-template-columns: 1fr 1fr;
}

.contenedor.activo{
	display: flex;
}

.columna-izquierda {
	padding: 40px;
}

.columna-derecha {
	background-image: url('../public/imgx.jpg');
	background-size: cover;
	background-position-x: center;
	width: 50%;
}

.header {
	margin-bottom: 40px;
	text-align: center;
}

.header h1 {
	color: var(--primario);
}

.header p {
	color: var(--secundario);
}

.header a {
	color: var(--secundario);
}

.header a:hover {
	color: var(--secundario);
	text-decoration: none;
	cursor:pointer;
	color: #fff;
}

label {
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}

.contenedor-input {
	position: relative;
}

input {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0 20px 0 45px;
	margin-bottom: 20px;
	background: #f4f8f7;
	color: #000;
	font-family: 'Quicksand', sans-serif;
	border: 2px solid transparent;
	transition: .3s ease all;
    transition: 0.5s ease;
}

.input-error{
	color: red;
    border: 1px solid red;
    transition: 0.5s ease;
}

input:focus {
	outline: none;
	border: 2px solid var(--primario);
}

.contenedor-input svg {
	position: absolute;
	top: 17px;
	left: 17px;
} 

.contenedor-boton {
	display: flex;
	justify-content: center;
}

button {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: none;
	height: 50px;
	color: var(--primario);
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 2px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

button:hover {
	background: var(--primario);
	color: #fff;
}

button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.contenedor-2{
	display: none;
}

.contenedor-2.activo{
	display: block;
}

.exito {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 700px;
    height: 300px;
	background-image: url("../public/ticket.png");
	background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.contenedorQR{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
}

.contenedorQR img{
    width: 120px;
    height: 120px;
}

.nombre-user-ticket{
	width: 120px;
    height: 120px;
    position: absolute;
    top: 122px;
    right: 0;
	margin: 0;
    padding: 0;
    text-align: center;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.btns-ticket{
	display: flex;
	justify-content: space-around;
}

.email-send-container{
	display: flex;
	margin-top: 100px;
}

.input-ticket{
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.enviar_email{
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

@media (max-width: 710px) {
  .columna-derecha {
    display: none;
  }
  .contenedor {
    grid-template-columns: 1fr;
  }
}